$primary-color:#2d529f;
$secondry-color:#008fe2;
$gray-color:#f7f7f7;
$dark-color:black;
$light-color:#ffffff;
$font-color:#777;
$main-font:sans-serif;

$btn-nav-color:#008fe2;
$btn-hover-color:#2d529f;
$p-color:#777777;
$h2-color:#1d2127;
$gray-background:#f7f7f7;
$footer-bg:#34383d;

$meduim-header:1.7rem;
$small-header:1.5rem;