.card-icon{
    display: flex;
    gap:1.2rem;
   

    &__img{

    }

    &__text{
        h3{
            color:$secondry-color;
            text-transform: capitalize;
            font-size: $small-header;
            margin-bottom: 1rem;
        }
        p{
            color:$font-color;
        }

    }

}



